
// Specifies large size for all components to match the previous defaults
// This may not be needed for your project. Please consult https://www.infragistics.com/products/ignite-ui-angular/angular/components/general/update-guide for more details.
:root {
    --ig-size: var(--ig-size-large);
}
// CSS Reset, comment out if not required or using a different module
// @import 'minireset.css/minireset';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'css-star-rating/scss/star-rating';


