.footer-container {
    display: flex;
    justify-content: space-around;
    background-color: #838383;
    color: #fff;
    padding: 20px;
}

.footer-section {
    max-width: 300px;
}

h3 {
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}