/* job-details.component.css */
.job-details-conatiner{
  padding: 20px;
  overflow-y: auto;
  height: 60vh;
}
.job-details,.no-jobs {
    background-color: #E3E1D9;
    flex: 2;
    padding: 20px;
    width: 80%;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1, h2 {
    color: #007BFF;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
