<div class="container">
    <h2>Forgot Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitForm()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" formControlName="email">
        </div>
        <div class="form-group">
            <button type="submit">Reset Password</button>
        </div>
        <div class="form-group login-link">
            Remember your password? <a [routerLink]="'/auth/sign-in'">Sign In</a>
        </div>
    </form>
</div>
