/* job-list.component.css */
/* job-list.component.css */

.job-list {
    flex: 1;
    padding: 20px;
    border-right: 1px solid #ddd; /* Add a border to separate the columns */
  }
  
  .job-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 300px;
  }
  
  a {
    text-decoration: none;
    color: #007BFF;
    cursor: pointer;
  }
  