<div [formGroup]="personalInformation" class="personal-information-form form">
    <h2>Personal Details </h2>
    <div class="form-control-row">
        <mat-form-field>
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name" formControlName="firstName" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name" formControlName="lastName" required>
        </mat-form-field>
    </div>
    <div class="form-control-row">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username" required>
        </mat-form-field>
    </div>
    <div class="form-control-row">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Social Media Link</mat-label>
            <input matInput placeholder="Social Media Link" formControlName="socialMediaLink" required>
        </mat-form-field>
    </div>
    <div  class="form-control-row">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput placeholder="********" formControlName="lastName" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirm Password</mat-label>
            <input matInput placeholder="********" formControlName="lastName" required>
        </mat-form-field>
    </div>
    <div class="form-button-controls">
        <button type="button" mat-flat-button color="warn">Back</button>
        <button type="button" mat-flat-button (click)="nextTab()" color="accent">Next Page</button>
    </div>
</div>