.search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0px auto 10px;
  background-color: #FFF8E3;
}

.search-container input[type=text] {
  flex: 1;
  padding: 10px;
  margin-right: 0px;
  border: none;
  border-bottom: 2px solid #ddd;
}

.search-container button {
  padding: 10px;
  border: none;
  background: #ddd;
  cursor: pointer;
}
.big-input {
  font-size: 18px;
  width: 300px;
  height: 30px;
}
.search-btn{
  background-color: #adadad;
  font-size: 18px;
  width: 200px;
  height: 55px;
}

::placeholder {
  font-size: 18px;
}