.login-card {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  
    .full-width {
      width: 100%;
    }
  
    .signup-link {
      margin-top: 20px;
      text-align: center;
    }
  }
  