<form>
    <mat-tab-group class="create-employer-container">
        <mat-tab label="Personal Information">
            <div class="personalInformation">

            </div>
        </mat-tab>
        <mat-tab label="Company Information">
            <div class="company-information">
                
            </div>
        </mat-tab>
        <mat-tab label="Additional Information">
            <div class="additional-information">
                
            </div>
        </mat-tab>
    </mat-tab-group>
</form>