<mat-tab-group class="create-employer-container">
    <mat-tab label="First">
        <div class="personalInformation">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime nulla eius dolorum facilis voluptatum sed id
            dignissimos eligendi pariatur veritatis, aut expedita reiciendis repudiandae nostrum laborum. Similique,
            asperiores consequatur? Eligendi.
        </div>
    </mat-tab>
    <mat-tab label="Second"> Content 2 </mat-tab>
    <mat-tab label="Third"> Content 3 </mat-tab>
</mat-tab-group>