.employer-home-container {
    margin: 100px auto;
    max-width: 400px;
    background-color: whitesmoke;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.employer-container {

    padding: 25px;
    text-align: center;
}

.sign-in-btn {
    background-color: #52cdf2;
}

h1 {
    color: #4133ff;
}

.user-route {
    text-align: center;
}

.go-to-user {
    background-color: red;
}