.auth-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: whitesmoke;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.sign-in-btn{
    background-color: #52cdf2;
}