<mat-card>
    <mat-card-header>
      <mat-card-title>User Details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p><strong>Personal Information:</strong></p>
        <p>First Name: {{ employer.personalInformation.firstName }}</p>
        <p>Last Name: {{ employer.personalInformation.lastName }}</p>
        <p>Username: {{ employer.personalInformation.username }}</p>
        <!-- Add other personal information fields -->
      </div>
      <div>
        <p><strong>Company Information:</strong></p>
        <p>Company Name: {{ employer.companyInformation.companyName }}</p>
        <p>Industry: {{ employer.companyInformation.industry }}</p>
        <!-- Add other company information fields -->
      </div>
      <div>
        <p><strong>Additional Information:</strong></p>
        <p>Hear About Us: {{ employer.additionalInformation.hearAboutUs }}</p>
        <!-- Add other additional information fields -->
      </div>
    </mat-card-content>
  </mat-card>
  