.user-details {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 10px auto;
    background-color: #ccc;
    padding: 0.5rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  }
  
  .user-details h2 {
    color: #333;
  }
  
  .user-details h3 {
    color: #666;
  }
  
  .user-details p {
    margin: 5px 0;
  }
  
  .user-details ul {
    list-style-type: none;
    padding: 0;
  }
  
  .user-details li {
    margin: 5px 0;
  }
  
  .user-details .section {
    margin-bottom: 20px;
    border-bottom: 1px solid #101010;
    padding-bottom: 20px;
  }
  
  .user-details .section:last-child {
    border-bottom: none;
  }
.heading-with-edit-icon{
    display: flex;
    justify-content: space-between;
}
.icon{
    margin-top: 1rem;
}
