<mat-toolbar>
  <span>Jobs Era</span>
  <button mat-button (click)="routeToHome()">Home</button>
  <button mat-button (click)="routeToCompany()">Companies</button>
  <button mat-button (click)="routeToJobs()">Jobs</button>
  
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Employer Icon" (click)="routeToEmployer()">
    <mat-icon>work</mat-icon>
  </button>
  <button *ngIf="!isLogin" mat-icon-button class="example-icon" aria-label="Auth icon" (click)="routeToAuth()">
    <mat-icon>person</mat-icon>
  </button>
  <button *ngIf="isLogin" mat-icon-button class="example-icon" aria-label="Auth icon" (click)="routeToAuth()">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>

